
.router-active{
    color:rgb(219, 216, 227);
    background-color: #292323;
  }
  
  button:hover{
    color: #292323;
    background-color: #ffffff;
  }
  
  nav li {
    display: inline;
    margin: 10px;
  }
  ul{
    white-space:nowrap;
  } 
  nav li {
    display: inline;
    margin: 10px;
  }
  
  .alignCenter {
    text-align: center;
  }
  button{
    padding: 9px;
    /* min-width: 10%; */
    border: 1px solid;
    border-radius: 6px;
    margin-top: 1%;
    margin-right: inherit;
  }
  