header {
    background-color: white;
    text-align: center;
    border: 1px solid;
    width: 70%;
    margin-left: 15%;
    opacity: .9;
    border-radius: 15px;
}

button {
    padding: 9px;
    border: none;
    border-radius: 6px;
    margin-top: 1%;
    margin-right: inherit;
    white-space: normal;
    font-size: 1.0rem;
}

.router-active{
    color:rgb(219, 216, 227);
    background-color: #292323;
}

button:hover{
    color: #292323;
    background-color: #ffffff;
}

nav li {
    display: inline;
    margin: 10px;
}
ul{
    white-space:nowrap;
    display: flex;
    align-content: center;
    justify-content: center;
}